.formacao {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    height: 100vh;
    padding: 30px;
    align-items: center;


    .cards {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-around;


    }

}

@media screen and (max-width: 600px) {
    .cards {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}