.containerCep {
    display: flex;
    flex-direction: row; // Altere para "row" para posicionar o botão ao lado do texto
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

    p {
        margin-right: 10px; // Adicione um espaçamento entre o texto e o botão
        font-size: 1.7rem;
        text-transform: uppercase;

    }

    #adress {
        font-size: 1.7rem;
        margin-top: 100px;
        font-weight: 700;
        color: red;
        text-align: center;
    }

    button {
        padding: 10px 20px;
        background-color: #f90808;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        position: absolute;
        margin: 10% 22%;
        width: 50%;

        &:hover {
            background-color: #9c0000;
        }
    }


}